<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [48]:
!pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.9)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [49]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [50]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [51]:
!pip install -q pandas==1.1.5

In [52]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [53]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [54]:
# Establish a connection to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Fetch the unique launch sites
query = "SELECT DISTINCT Launch_Site FROM SPACEXTBL"
cur.execute(query)
launch_sites = cur.fetchall()

# Display the launch site names
for launch_site in launch_sites:
    print(launch_site[0])

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40
None


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [55]:
# Establish a connection to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Fetch the records where launch sites start with 'CCA'
query = """
SELECT *
FROM SPACEXTBL
WHERE Launch_Site LIKE 'CCA%'
LIMIT 5
"""

cur.execute(query)
records = cur.fetchall()

# Display the records
print("Records:")
for record in records:
    print(record)

Records:
('06/04/2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0.0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('12/08/2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0.0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('22/05/2012', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525.0, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('10/08/2012', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500.0, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('03/01/2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677.0, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [56]:
# Establish a connection to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Fetch the total payload mass carried by boosters launched by NASA (CRS)
query = """
SELECT SUM(Payload_Mass__kg_) as Total_Payload_Mass
FROM SPACEXTBL
WHERE Customer = 'NASA (CRS)'
"""

cur.execute(query)
record = cur.fetchone()

# Display the total payload mass
total_payload_mass = record[0]
print("Total Payload Mass carried by boosters launched by NASA (CRS):", total_payload_mass, "kg")

Total Payload Mass carried by boosters launched by NASA (CRS): 45596.0 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [57]:
# Establish a connection to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Fetch the average payload mass
query = "SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTBL WHERE BOOSTER_VERSION = 'F9 v1.1'"
cur.execute(query)
avg_payload_mass = cur.fetchone()[0]

# Display the average payload mass
print("Average Payload Mass Carried by F9 v1.1 Boosters:", avg_payload_mass, "kg")

Average Payload Mass Carried by F9 v1.1 Boosters: 2928.4 kg

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [58]:
# Establish a connection to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Fetch the date of the first successful landing in a ground pad
query = "SELECT MIN(Date) FROM SPACEXTBL WHERE Landing_Outcome = 'Success (ground pad)'"
cur.execute(query)
first_successful_landing_date = cur.fetchone()[0]

# Display the date of the first successful landing in a ground pad
print("Date of the First Successful Landing in a Ground Pad:", first_successful_landing_date)

Date of the First Successful Landing in a Ground Pad: 01/08/2018

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [59]:
# Establish a connection to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Fetch the names of the boosters
query = "SELECT Booster_Version FROM SPACEXTBL WHERE Landing_Outcome = 'Success (drone ship)' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000"
cur.execute(query)
boosters = cur.fetchall()

# Display the names of the boosters
print("Boosters with a Successful Landing on a Drone Ship and Payload Mass between 4000 kg and 6000 kg:")
for booster in boosters:
    print(booster[0])

Boosters with a Successful Landing on a Drone Ship and Payload Mass between 4000 kg and 6000 kg:
F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [64]:
# Establish a connection to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Fetch the total number of successful mission outcomes
query_success = "SELECT COUNT(*) FROM SPACEXTBL WHERE Mission_Outcome = 'Success'"
cur.execute(query_success)
total_success = cur.fetchone()[0]

# Fetch the total number of failure mission outcomes
query_failure = "SELECT COUNT(*) FROM SPACEXTBL WHERE Mission_Outcome = 'Failure'"
cur.execute(query_failure)
total_failure = cur.fetchone()[0]

# Display the total number of successful and failure mission outcomes
print("Total Number of Successful Mission Outcomes:", total_success)
print("Total Number of Failure Mission Outcomes:", total_failure)

Total Number of Successful Mission Outcomes: 98
Total Number of Failure Mission Outcomes: 0

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [72]:
# Establish a connection to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the query using a subquery
query = """
SELECT Booster_Version FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ = (
SELECT MAX(PAYLOAD_MASS__KG_)
FROM SPACEXTBL)
"""
cur.execute(query)
results = cur.fetchall()
# Display the names of the booster versions
print("Booster Versions with Maximum Payload Mass:")
for row in results:
    print(row[0])

Booster Versions with Maximum Payload Mass:
F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [80]:
# Establish a connection to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Fetch the records for the specified criteria
query = """
SELECT 
    CASE SUBSTR(DATE, 4, 2)
        WHEN '01' THEN 'January'
        WHEN '02' THEN 'February'
        WHEN '03' THEN 'March'
        WHEN '04' THEN 'April'
        WHEN '05' THEN 'May'
        WHEN '06' THEN 'June'
        WHEN '07' THEN 'July'
        WHEN '08' THEN 'August'
        WHEN '09' THEN 'September'
        WHEN '10' THEN 'October'
        WHEN '11' THEN 'November'
        WHEN '12' THEN 'December'
    END AS Month,
    Landing_Outcome,
    Booster_Version,
    Launch_Site
FROM SPACEXTBL
WHERE SUBSTR(Date, 7, 4) = '2015'
"""

cur.execute(query)
records = cur.fetchall()

# Display the records
print("Records:")
for record in records:
    print("Month:", record[0])
    print("Landing Outcome in Drone Ship:", record[1])
    print("Booster Version:", record[2])
    print("Launch Site:", record[3])
    print("------------------------")

Records:
Month: October
Landing Outcome in Drone Ship: Failure (drone ship)
Booster Version: F9 v1.1 B1012
Launch Site: CCAFS LC-40
------------------------
Month: November
Landing Outcome in Drone Ship: Controlled (ocean)
Booster Version: F9 v1.1 B1013
Launch Site: CCAFS LC-40
------------------------
Month: February
Landing Outcome in Drone Ship: No attempt
Booster Version: F9 v1.1 B1014
Launch Site: CCAFS LC-40
------------------------
Month: April
Landing Outcome in Drone Ship: Failure (drone ship)
Booster Version: F9 v1.1 B1015
Launch Site: CCAFS LC-40
------------------------
Month: April
Landing Outcome in Drone Ship: No attempt
Booster Version: F9 v1.1 B1016
Launch Site: CCAFS LC-40
------------------------
Month: June
Landing Outcome in Drone Ship: Precluded (drone ship)
Booster Version: F9 v1.1 B1018
Launch Site: CCAFS LC-40
------------------------
Month: December
Landing Outcome in Drone Ship: Success (ground pad)
Booster Version: F9 FT B1019
Launch Site: CCAFS LC-40
------------------------

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [83]:
# Establish a connection to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Fetch the count of landing outcomes between the specified dates
query = """
SELECT Landing_Outcome, COUNT(*) as count
FROM SPACEXTBL
WHERE Date >= '2010-06-04' AND Date <= '2017-03-20'
GROUP BY Landing_Outcome
ORDER BY count DESC
"""

cur.execute(query)
records = cur.fetchall()

# Display the ranking of landing outcomes
print("Ranking of Landing Outcomes:")
for i, record in enumerate(records):
    rank = i + 1
    landing_outcome = record[0]
    count = record[1]
    print(f"Rank {rank}: {landing_outcome} - Count: {count}")

Ranking of Landing Outcomes:

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>